@{
  Layout = "_Layout";
}

@using PierresBakeryTreatFlavor.Models;
@model List<PierresBakeryTreatFlavor.Models.Flavor>;

<h1>Pierre's Treats!</h1>

@if (@Model.Count == 0)
{
  <h3>No flavors have been added yet!</h3>
} 

@foreach (Flavor flavor in Model)
{
  <li>@Html.ActionLink($"{flavor.Name}", "Details", new { id = flavor.FlavorId })</li>
}

<button>@Html.ActionLink("See all treats", "Index", "Treats")</button>
<button>@Html.ActionLink("See all flavors", "Index", "Flavors")</button>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>