@{
  Layout = "_Layout";
}

@model PierresBakeryTreatFlavor.Models.Treat

<h2>Are you sure you want to delete this?</h2>

@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
    <input type="submit" value="Delete"/>
}
@Html.ActionLink("Back to List", "Index")

<button>@Html.ActionLink("Delete Treat", "Delete", new { id = Model.TreatId })</button>
<button>@Html.ActionLink("Home", "Index", "Home")</button>